<template>
  <div class="flex pa1 justify-between nowrap orange">
    <div class="flex flex-fixed black">
      <router-link to="/" class="ml1 no-underline black">
        <div class="fw7 mr1">Simple Blog</div>
      </router-link>
      <router-link to="/create" class="ml1 no-underline black">add</router-link>
    </div>
    <div class="flex flex-fixed">
      <div v-if="userId" class="ml1 pointer black" @click="logout()">logout</div>
      <router-link v-else to="/login" class="ml1 no-underline black">login</router-link>
    </div>
  </div>
</template>

<script>

import { USER_ID, AUTH_TOKEN } from '@/constants/settings'

export default {
  name: 'AppHeader',
  computed: {
    userId () {
      return this.$root.$data.userId
    }
  },
  methods: {
    logout () {
      localStorage.removeItem(USER_ID)
      localStorage.removeItem(AUTH_TOKEN)
      this.$root.$data.userId = localStorage.getItem(USER_ID)
    }
  }
}
</script>
