<template>
  <div>
    <div class="flex flex-column mt3">
      <input
        class="mb2"
        v-model="title"
        type="text"
        placeholder="title">
      <input
        class="mb2"
        v-model="description"
        type="text"
        placeholder="description">
      <textarea
        rows="10" cols="45"
        class="mb2"
        v-model="content"
        type="text"
        placeholder="content"></textarea>
    </div>
    <button @click="createPost()">Submit</button>
  </div>
</template>

<script>
import { ALL_POSTS_QUERY, CREATE_POST_MUTATION } from '../constants/graphql'

export default {
  name: 'CreatePost',
  data () {
    return {
      title: '',
      description: '',
      content: ''
    }
  },
  methods: {
    createPost () {
      const newDescription = this.description
      const newTitle = this.title
      const newContent = this.content
      this.description = ''
      this.title = ''
      this.content = ''

      this.$apollo.mutate({
        mutation: CREATE_POST_MUTATION,
        variables: {
          description: newDescription,
          title: newTitle,
          content: newContent
        },
        update: (store, { data: { createPost } }) => {
          const data = store.readQuery({ query: ALL_POSTS_QUERY })
          data.posts.push(createPost)
          store.writeQuery({ query: ALL_POSTS_QUERY, data })
        }
      }).then((data) => {
        this.$router.push({path: '/'})
      }).catch((error) => {
        console.error(error)
        this.newDescription = newDescription
        this.newTitle = newTitle
        this.newContent = newContent
      })
    }
  }
}
</script>
