<template>
  <div>
    <h2><a :href="'post/'+post.id">{{ post.title }}</a></h2>
    <p>{{ post.description }}</p>
    <a :href="'user/'+post.postedBy.id">{{ post.postedBy.name }}</a>
    <span>{{ post.createdAt }}</span>
  </div>
</template>

<script>
export default {
  name: 'PostItem',
  props: ['post'],
  methods: {
    goToPost (id) {
      console.log(`go to post id=${id}`)
    }
  }
}
</script>
