<template>
  <div>
    <h4 v-if="loading">Loading...</h4>
    <post-item
      v-for="post in posts"
      :key="post.id"
      :post="post">
    </post-item>
  </div>
</template>

<script>
import { ALL_POSTS_QUERY } from '../constants/graphql'
import PostItem from './PostItem'

export default {
  name: 'PostList',
  data: () => {
    return {
      posts: [],
      loading: 0
    }
  },
  components: {
    PostItem
  },
  apollo: {
    posts: {
      query: ALL_POSTS_QUERY
    }
  }
}
</script>
